# Created by .ignore support plugin (hsz.mobi)
### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

/node_modules/*

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
